BasedOnStyle: LLVM
IndentWidth: 2
BreakBeforeBraces: Allman
ColumnLimit: 120
SortIncludes: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
IndentCaseLabels: false
